:root {
    --wrapper-width: 1140px;
    --alt-bg-color: #222b36;
}


/* global  */
.pageContextWrapper {
    width: auto;
    margin: 0 auto;
}

.contentContainer {
    max-width: var(--wrapper-width);
    margin: 0 auto;
    padding: 2.5rem;
}

.contentContainerCenter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contentContainerCenterRow {
    justify-content: center;
}

.contentPanel {
    min-height: 60vh;
}

.mainNav {
    max-width: var(--wrapper-width);
    margin: 0 auto;
}

/* rows */
.rowTitle {
    margin: 2.5rem 0;
}

.flexRowEvenly {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}

.rowAltColor {
    background: var(--alt-bg-color);
    color: #e8ebf0;
}

.backToHome {
    margin: 3rem 0 0;
}

.postListCard {
    height: 100%;
    margin: 1rem 0;
}

.rs-footer {
    width: 100%;
    margin: 2.5rem auto;
}